@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 m-4">Bienvenido</h1>
    
    <p>UNIVERSIDAD ESTATAL A DISTANCIA</p>
    <p>Tarea N2 - Sistema Gestión de Carreras</p>
    <p>Programación Avanzada en Web - 03101</p>
    <p>Profesor: Norberth Brunner A.</p>
    <p>Estudiante: Jorge Jiménez M.</p>
    <p>III CUATRIMESTRE 2022</p>

    <div class="display-5 m-5">
        <label class="text-primary">@ViewBag.Mensaje</label>
    </div>

</div>
